{% extends 'base.html.twig' %}

{% block title %}Chantiers | Devis{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <h1 class="col-12 col-sm-9 text-center fs-2">Liste des devis</h1>
</div>
    <a href="{{ path('app_quotation_new') }}" class="btn btn-primary float-sm-end mt-2 col-6 col-sm-4 col-md-3 col-lg-2"><i class="fa fa-plus"></i> Ajouter</a>
    <table class="table table-hover" id="table" data-toggle="table" data-search="true" data-locale="fr-FR" data-pagination="true">
        <thead>
            <tr>
                <th data-sortable="true" data-field="worksite">Chantier</th>
                <th data-sortable="true" data-field="quotation" class="d-none d-md-table-cell">Référence</th>
                <th data-sortable="true" data-field="price" class="d-none d-lg-table-cell">Valeur</th>
                <th data-sortable="true" data-field="status" class="d-none d-sm-table-cell">Statut</th>
                <th>Actions</th>
                <th>Devis</th>
                <th>Facture</th>
            </tr>
        </thead>
        <tbody>
        {% for quotation in quotations %}
            <tr>
                <td>{{ quotation.worksite }}</td>
                <td>{{ quotation.referenceQuotation }}</td>
                <td>{{ quotation.priceQuotation }}€</td>
                <td>{{ quotation.statusQuotation }}</td>
                <td>
                    <a href="{{ path('app_quotation_show', {'id': quotation.id}) }}" class="btn btn-primary btn-sm"><i class="fa-fw fa fa-eye"></i></a>
                    <a href="{{ path('app_quotation_edit', {'id': quotation.id}) }}" class="btn btn-success btn-sm"><i class="fa-fw fa-solid fa-pen-to-square"></i></a>
                </td>
                <td><a href="{{ path('app_pdf_generator_quotation', {'id': quotation.id}) }}" class="btn btn-primary btn-sm" target="_blank"><i class="fa-fw fa fa-file-pdf"></i></a></td>
                <td><a href="{{ path('app_pdf_generator_facture', {'id': quotation.id}) }}" class="btn btn-primary btn-sm" target="_blank"><i class="fa-fw fa fa-file-pdf"></i></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun devis enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
