{% extends 'base.html.twig' %}

{% block title %}Liste des devis{% endblock %}

{% block body %}
    <h1>Liste des devis</h1>
    <a href="{{ path('app_quotation_new') }}" class="btn btn-primary float-end mt-2 col-2"><i class="fa fa-plus"></i> Ajouter</a>
    <table class="table table-hover" id="table" data-toggle="table" data-search="true" data-locale="fr-FR" data-pagination="true">
        <thead>
            <tr>
                <th data-sortable="true" data-field="object">Objet</th>
                <th data-sortable="true" data-field="quotation">Reference du devis</th>
                <th data-sortable="true" data-field="price">Prix</th>
                <th data-sortable="true" data-field="status">Statut</th>
                {# <th data-sortable="true" data-field="deposit">Montant de l'accompte</th>#}
                <th data-sortable="true" data-field="intermediate">Montant du paiement intermédiaire</th> 
                <th data-sortable="true" data-field="final">Montant du paiement final</th>
                {# <th>Date de création</th>
                <th>Date de dernière modification</th> #}
                <th>Actions</th>
                <th>devis</th>
                <th>facture</th>
            </tr>
        </thead>
        <tbody>
        {% for quotation in quotations %}
            <tr style="background-color: white;">
                <td>{{ quotation.object }}</td>
                <td>{{ quotation.referenceQuotation }}</td>
                <td>{{ quotation.priceQuotation }}</td>
                <td>{{ quotation.statusQuotation }}</td>
                 {# <td>{{ quotation.depositQuotation }}</td>#}
                <td>{{ quotation.intermediatePaymentQuotation }}</td> 
                <td>{{ quotation.finalPaymentQuotation }}</td>
                {# <td>{{ quotation.createdAt ? quotation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ quotation.updatedAt ? quotation.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
                <td>
                    <a href="{{ path('app_quotation_show', {'id': quotation.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('app_quotation_edit', {'id': quotation.id}) }}" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
                <td><a href="{{ path('app_pdf_generator_quotation', {'id': quotation.id}) }}" class="btn btn-primary" target="_blank"><i class="fa fa-file-pdf"></i></a></td>
                <td><a href="{{ path('app_pdf_generator_facture', {'id': quotation.id}) }}" class="btn btn-primary" target="_blank"><i class="fa fa-file-pdf"></i></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Pas de devis existant</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
