{% extends 'base.html.twig' %}

{% block title %}FBR Rénovation | Accueil{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <h1 class="col-12 col-sm-9 text-center fs-2">Bienvenue sur la page d'accueil de votre interface de gestion</h1>
</div>
<div class="d-flex justify-content-center pt-5">
    <div class="rounded-4 col-11 col-xl-10 col-xxl-9 bg-white d-flex justify-content-center p-3">
        <iframe class="col-12" src="https://calendar.google.com/calendar/embed?height=280&wkst=1&bgcolor=%23ffffff&ctz=Europe%2FParis&showTitle=0&showTz=1&src=amVzc3kuOTltaWxhcWlAZ21haWwuY29t&src=dTB0c2Q2ZHVhbW1qNzNnMnBhajE5ZzgwdmJrMWxpaGNAaW1wb3J0LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%23F09300" style="border-width:0" width="980" height="280" frameborder="0" scrolling="no"></iframe>
    </div>
</div>

<div class="d-flex justify-content-center pt-5">
    <div class="rounded-4 col-11 col-xl-10 col-xxl-9 bg-white d-flex flex-column justify-content-center p-3">
        <h3 class="fs-2">Chantiers</h3>
        <table class="table table-hover mt-4 col-12">
            <thead>
                <tr>
                    <th>Nom du chantier</th>
                    <th class="d-none d-lg-table-cell">Adresse</th>
                    <th class="d-none d-sm-table-cell">Client</th>
                    <th class="d-none d-sm-table-cell">Urgent</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for worksite in worksites %}
                <tr>
                    <td>{{ worksite.nameWorksite }}</td>
                    <td class="d-none d-lg-table-cell">{{ worksite.adressWorksite}}, {% if worksite.cpWorksite|length is same as 4 %}0{{ worksite.cpWorksite }}{% else %}{{worksite.cpWorksite}}{% endif %} {{ worksite.cityWorksite }}</td>
                    <td class="d-none d-sm-table-cell">{{ worksite.clientWorksite }}</td>
                    <td class="d-none d-sm-table-cell">{{ worksite.isUrgent ? 'Oui' : 'Non' }}</td>
                    <td>
                        <a href="{{ path('app_worksites_show', {'id': worksite.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-eye fa-fw"></i></a>
                        <a href="{{ path('app_worksites_edit', {'id': worksite.id}) }}" class="btn btn-success btn-sm"><i class="fa-solid fa-pen-to-square fa-fw"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="16">Aucun chantier existant</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="d-flex justify-content-center pt-5">
    <div class="rounded-4 col-11 col-xl-10 col-xxl-9 bg-white d-flex flex-column justify-content-center p-3">
        <h3 class="fs-2">Dépannages</h3>
    
        <table class="table table-hover mt-4">
            <thead>
                <tr>
                    <th>Nom du dépannage</th>
                    <th class="d-none d-sm-table-cell">Adresse</th>
                    <th class="d-none d-md-table-cell">Client</th>
                    <th class="d-none d-lg-table-cell">Type de chantier</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for repair in repairs %}
                <tr>
                    <td>{{ repair.nameRepair }}</td>
                    <td class="d-none d-sm-table-cell">{{ repair.adressRepair }}, {% if repair.cpRepair|length is same as 4 %}0{{ repair.cpRepair }}{% else %}{{repair.cpRepair}}{% endif %} {{ repair.cityRepair }}</td>
                    <td class="d-none d-md-table-cell">{{ repair.client }}</td>
                    <td class="d-none d-lg-table-cell">{{ repair.category }}</td>
                    <td>
                        <a href="{{ path('app_repairs_show', {'id': repair.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-eye fa-fw"></i></a>
                        <a href="{{ path('app_repairs_edit', {'id': repair.id}) }}" class="btn btn-success btn-sm"><i class="fa-solid fa-pen-to-square fa-fw"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">Aucun dépannage enregistré</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
