{% extends 'base.html.twig' %}

{% block title %}Les dépannages{% endblock %}

{% block body %}
    <h1>Les dépannages</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Ville</th>
                <th>Code Postal</th>
                <th>Adresse</th>
                <th>Prix</th>
                <th>Reference</th>
                <th>Horaire</th>
                <th>Distance</th>
                <th>Client</th>
                <th>Catégorie</th>
                <th>Actions</th>
                <th><a href="{{ path('app_repairs_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Ajouter</a></th>
            </tr>
        </thead>
        <tbody>
        {% for repair in repairs %}
            <tr>
                <td>{{ repair.nameRepair }}</td>
                <td>{{ repair.cityRepair }}</td>
                <td>{{ repair.cpRepair }}</td>
                <td>{{ repair.adressRepair }}</td>
                <td>{{ repair.priceRepair }}</td>
                <td>{{ repair.referenceRepair }}</td>
                <td>{{ repair.scheduleRepair }}</td>
                <td>{{ repair.travelDistanceRepair }}</td>
                <td>{{ repair.client }}</td>
                <td>{{ repair.category }}</td>
                <td>
                    <a href="{{ path('app_repairs_show', {'id': repair.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('app_repairs_edit', {'id': repair.id}) }}" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
                <td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Aucun dépannage trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
