{% extends 'base.html.twig' %}

{% block title %}Les dépannages{% endblock %}

{% block body %}
    <h1>Les dépannages</h1>

    <table class="table table-hover" id="table" data-toggle="table" data-search="true" data-locale="fr-FR" data-pagination="true">
        <thead>
            <tr>
                <th>Actions</th>
                <th data-sortable="true" data-field="repairName">Nom dépannage</th>
                <th data-sortable="true" data-field="address">Adresse Complète</th>
                <th data-sortable="true" data-field="price">Prix</th>
                <th data-sortable="true" data-field="reference">Reference</th>
                <th data-sortable="true" data-field="schedule">Horaire</th>
                <th data-sortable="true" data-field="distance">Distance</th>
                <th data-sortable="true" data-field="customer">Client</th>
                <th data-sortable="true" data-field="category">Catégorie</th>
                <th>Note</th>
                <th><a href="{{ path('app_repairs_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i>Ajouter</a></th>
            </tr>
        </thead>
        <tbody>
        {% for repair in repairs %}
            <tr>
                <td>
                    <a href="{{ path('app_repairs_show', {'id': repair.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('app_repairs_edit', {'id': repair.id}) }}" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
                <td>{{ repair.nameRepair }}</td>
                <td>{{ repair.adressRepair }} {{ repair.cpRepair }} {{ repair.cityRepair }}</td>
                <td>{{ repair.priceRepair }}</td>
                <td>{{ repair.referenceRepair }}</td>
                <td>{{ repair.scheduleRepair }}</td>
                <td>{{ repair.travelDistanceRepair }}</td>
                <td>{{ repair.client }}</td>
                <td>{{ repair.category }}</td>
                <td colspan="2">{{ repair.noteAdminRepair }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">Aucun dépannage trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
