{% extends 'base.html.twig' %}

{% block title %}Dépannage{% endblock %}

{% block body %}
    <h1>Dépannage</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom dépannage</th>
                <td>{{ repair.nameRepair }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ repair.cityRepair }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ repair.cpRepair }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ repair.adressRepair }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ repair.priceRepair }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ repair.referenceRepair }}</td>
            </tr>
            <tr>
                <th>Horaire</th>
                <td>{{ repair.scheduleRepair }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ repair.travelDistanceRepair }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ repair.noteAdminRepair }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ repair.client }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ repair.category }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ repair.createdAt ? repair.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de modification</th>
                <td>{{ repair.updatedAt ? repair.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>
                    {% for image in images %}
                    {% if image.mimeType != 'application/pdf' %}
                    <img src="{{ vich_uploader_asset(image) }}" alt="" width="200">
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Documents</th>
                <td>
                    {% for image in images %}
                    {% if image.mimeType == 'application/pdf' %}
                    <iframe src="{{ vich_uploader_asset(image) }}" frameborder="0" width="800" height="500"></iframe>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_repairs_index') }}" class="btn btn-primary mb-3"><i class="fa-solid fa-reply"></i> Retour</a>

    <a href="{{ path('app_repairs_edit', {'id': repair.id}) }}"class="btn btn-primary mb-3">Modifier</a>

    {{ include('repairs/_delete_form.html.twig') }}
{% endblock %}
