{% extends 'base.html.twig' %}

{% block title %}Dépannage{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <h1 class="col-12 col-sm-9 text-center fs-2">Détails du dépannage</h1>
</div>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom dépannage</th>
                <td>{{ repair.nameRepair }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ repair.cityRepair }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{% if repair.cpRepair|length is same as 4 %}0{{ repair.cpRepair }}{% else %}{{repair.cpRepair}}{% endif %}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ repair.adressRepair }}</td>
            </tr>
            <tr>
                <th>Prix(€)</th>
                <td>{{ repair.priceRepair }}</td>
            </tr>
            <tr>
                <th>Référence</th>
                <td>{{ repair.referenceRepair }}</td>
            </tr>
            <tr>
                <th>Horaire</th>
                <td>{{ repair.scheduleRepair }}</td>
            </tr>
            <tr>
                <th>Distance(km)</th>
                <td>{{ repair.travelDistanceRepair }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{% if (repair.noteAdminRepair is same as null) or (repair.noteAdminRepair is same as '') %}Pas de note{% else %}{{ repair.noteAdminRepair }}{% endif %}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ repair.client }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ repair.category }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ repair.createdAt ? repair.createdAt|date('d M Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de modification</th>
                <td>{{ repair.updatedAt ? repair.updatedAt|date('d M Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Images</th>
                <td>
                    {% for image in images %}
                    {% if image.mimeType != 'application/pdf' %}
                    <img src="{{ vich_uploader_asset(image) }}" alt="" width="200">
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Documents</th>
                <td>
                    {% for image in images %}
                    {% if image.mimeType == 'application/pdf' %}
                    <iframe src="{{ vich_uploader_asset(image) }}" frameborder="0" width="800" height="500"></iframe>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex">
        <a href="{{ path('app_repairs_index') }}" class="btn btn-primary mb-3 me-2"><i class="fa-solid fa-reply"></i> Retour</a>

        <a href="{{ path('app_repairs_edit', {'id': repair.id}) }}"class="btn btn-primary mb-3 me-2">Modifier</a>
    
        <div title="Add to Calendar" class="addeventatc btn btn-light mb-3 me-2" data-styling="">
            <span class="timezone">Europe/Paris</span>
            <span class="title">{{ repair.nameRepair }}</span>
            <span class="description">Horaire : {{ repair.scheduleRepair }} , <br> Distance : {{ repair.travelDistanceRepair }} km, <br> Client : {{ repair.client }}</span>
            <span class="location">{{ repair.adressRepair }}, {% if repair.cpRepair|length is same as 4 %}0{{ repair.cpRepair }}{% else %}{{repair.cprepair}}{% endif %} {{ repair.cityRepair }}</span>
        </div>
        {{ include('repairs/_delete_form.html.twig') }}
    </div>
{% endblock %}
