{% extends 'base.html.twig' %}

{% block title %}WorksiteImages index{% endblock %}

{% block body %}
    <h1>WorksiteImages index</h1>

    <table class="table table-hover" id="table" data-toggle="table" data-search="true" data-locale="fr-FR" data-pagination="true">
        <thead>
            <tr>
                <th data-sortable="true" data-field="worksite_name">Nom du chantiers</th>
                <th data-sortable="true" data-field="image_name">Nom d'image</th>
                <th data-sortable="true" data-field="weight">Taille</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for worksite_image in worksite_images %}
            <tr>
                <td>{{ worksite_image.worksite }}</td>
                <td>{{ worksite_image.imageWorksiteImages }}</td>
                <td>{{ worksite_image.imageSize }} ko</td>
        </thead>
                <td><img src="{{ vich_uploader_asset(worksite_image) }}" alt="" width="200"></td>
                <td>
                    <a href="{{ path('app_worksite_images_show', {'id': worksite_image.id}) }}">show</a>
                    <a href="{{ path('app_worksite_images_edit', {'id': worksite_image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_worksite_images_new') }}">Create new</a>
{% endblock %}
