{% extends 'base.html.twig' %}

{% block title %}WorksiteImages index{% endblock %}

{% block body %}
    <h1>WorksiteImages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom du dépannage</th>
                <th>Nom d'image</th>
                <th>Taille</th>
                <th>Image</th>
                <th>Actions</th>
                <th><a href="{{ path('app_worksite_images_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Ajouter</a></th>
            </tr>
        </thead>
        <tbody>
        {% for worksite_image in worksite_images %}
            <tr>
                <td>{{ worksite_image.worksite }}</td>
                <td>{{ worksite_image.imageWorksiteImages }}</td>
                <td>{{ worksite_image.imageSize }} ko</td>
                <td><img src="{{ vich_uploader_asset(worksite_image) }}" alt="" width="200"></td>
                <td>
                    <a href="{{ path('app_worksite_images_show', {'id': worksite_image.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('app_worksite_images_edit', {'id': worksite_image.id}) }}" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i</a>
                </td>
                <td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
