{% extends 'base.html.twig' %}

{% block title %}WorksiteImages{% endblock %}

{% block body %}
    <h1>WorksiteImages</h1>

    <table class="table">
        <tbody>
            <tr>
                {% if worksite_image.mimeType == 'application/pdf' %}
                    <iframe src="{{ vich_uploader_asset(worksite_image) }}" frameborder="0" width="800" height="500"></iframe>
                {% else %}
                    <img src="{{ vich_uploader_asset(worksite_image) }}" alt="">
                {% endif %}
            </tr>
            <tr>
                <th>Image_worksite_images</th>
                <td>{{ worksite_image.imageWorksiteImages }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ worksite_image.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_worksite_images_index') }}">back to list</a>

    <a href="{{ path('app_worksite_images_edit', {'id': worksite_image.id}) }}">edit</a>

    {{ include('worksite_images/_delete_form.html.twig') }}
{% endblock %}
