{% extends 'base.html.twig' %}

{% block title %}RepairsCategories{% endblock %}

{% block body %}
    <h1>RepairsCategories</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ repairs_category.id }}</td>
            </tr>
            <tr>
                <th>Name_repairs_category</th>
                <td>{{ repairs_category.nameRepairsCategory }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ repairs_category.createdAt ? repairs_category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ repairs_category.updatedAt ? repairs_category.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_repairs_categories_index') }}">back to list</a>

    <a href="{{ path('app_repairs_categories_edit', {'id': repairs_category.id}) }}">edit</a>

    {{ include('repairs_categories/_delete_form.html.twig') }}
{% endblock %}
