{% extends 'base.html.twig' %}

{% block title %}Locations | Détails du matériel{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <h1 class="col-12 col-sm-9 text-center fs-2">Détails du matériel</h1>
</div>

<table class="table">
    <tbody>
        <tr>
            <th>Matériel</th>
            <td>{{ material.nameMaterial|capitalize }}</td>
        </tr>
        <tr>
            <th>Date de création</th>
            <td>{{ material.createdAt ? material.createdAt|date('d M Y H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Date de modification</th>
            <td>{{ material.updatedAt ? material.updatedAt|date('d M Y H:i:s') : '' }}</td>
        </tr>
    </tbody>
</table>

<div class="d-flex">
    <a href="{{ path('app_materials_index') }}" class="btn btn-primary mb-3 me-2"><i class="fa-solid fa-reply"></i> Retour</a>
    <a href="{{ path('app_materials_edit', {'id': material.id}) }}" class="btn btn-primary mb-3 me-2">Modifier</a>

    {{ include('materials/_delete_form.html.twig') }}
</div>
     
{% endblock %}
