{% extends 'base.html.twig' %}

{% block title %}Fournisseur{% endblock %}

{% block body %}
    <h1>Fournisseur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom du fournisseur</th>
                <td>{{ supplier.nameSupplier }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ supplier.email }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>0{{ supplier.phone }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ supplier.city }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ supplier.cp }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ supplier.address }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ supplier.createdAt ? supplier.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_supplier_index') }}" class="btn btn-primary mb-3"><i class="fa-solid fa-reply"></i> Retour</a>

    <a href="{{ path('app_supplier_edit', {'id': supplier.id}) }}" class="btn btn-primary mb-3">Modifier</a>

    {{ include('supplier/_delete_form.html.twig') }}
{% endblock %}
