{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
<div>
    <h1 style="font-size:2rem;" class="mb-5 container col-3">Statistiques <i class="fa fa-chart-line"></i></h1>
</div>
<div class="example-wrapper mt-5">
    <h2> Chantiers</h2>
    <div class="container col-8">
        {{ render_chart(chart) }}

    
    </div>
    <p class="text-center fs-4">{{'now'|date('Y')}}</p>
</div>

<div>
    <p class="fs-3">Total des revenus sur l'année {{'now'|date('Y')}} : {{total}} €</p>
</div>

<div>
    <p class="fs-3">Total des revenus : {{allYearTot}} €</p>
    <p class="fs-4">Nombre total de chantiers réalisés : {{worksitesCount}}</p>
</div>

<div class="example-wrapper mt-5">
    <h2>Locations</h2>
    <div class="container col-8">
        {{ render_chart(chartRentals) }}

    
    </div>
    <p class="text-center fs-4">{{'now'|date('Y')}}</p>
</div>

<div>
    <p class="fs-3">Coût total des locations sur l'année {{'now'|date('Y')}} :  {{totalR}} €</p>
    <p class="fs-4">Nombre total de locations : {{rentalsCount}}</p>

</div>

<div class="mt-5">
    <h2>Clients</h2>
    <p class="fs-3">Nombre total de clients: {{CustomersTotal}}</p>
</div>


{% endblock %}

