{% extends 'base.html.twig' %}

{% block title %}{{ worksite.nameworksite }}{% endblock %}

{% block body %}
    <h1>Chantier : {{ worksite.nameWorksite }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom du chantier</th>
                <td>{{ worksite.nameWorksite }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ worksite.adressWorksite }}, {{ worksite.cpWorksite }} {{ worksite.cityWorksite }}</td>
            </tr>
            {# <tr>
                <th>Ville</th>
                <td>{{ worksite.cityWorksite }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ worksite.cpWorksite }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ worksite.adressWorksite }}</td>
            </tr> #}
            <tr>
                <th>Date de début</th>
                <td>{{ worksite.startAt ? worksite.startAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Durée des travaux (en jours)</th>
                <td>{{ worksite.durationWorksite }} jour(s)</td>
            </tr>
            <tr>
                <th>Travaux supplémentaires (en heures)</th>
                <td>{% if worksite.supplementWorksite is same as null %} Aucun {% else %} {{ worksite.supplementWorksite }} heure(s) {% endif %}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ worksite.travelDistanceWorksite }} km</td>
            </tr>
            <tr>
                <th>Note du client</th>
                <td>{% if worksite.noteClientWorksite is same as null %} Aucune {% else %} {{ worksite.noteClientWorksite }}{% endif %}</td>
            </tr>
            <tr>
                <th>Note personnelle</th>
                <td>{% if worksite.noteAdminWorksite is same as null %} Aucune {% else %} {{ worksite.noteAdminWorksite }}{% endif %}</td>
            </tr>
            <tr>
                <th>Urgent</th>
                <td>{{ worksite.isUrgent ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ worksite.statusWorksite }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ worksite.createdAt ? worksite.createdAt|date('d M Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de modification</th>
                <td>{{ worksite.updatedAt ? worksite.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Photos</th>
                <td>
                    {% for image in images %}
                    {% if image.mimeType != 'application/pdf' %}
                    <img src="{{ vich_uploader_asset(image) }}" alt="" width="200">
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Documents</th>
                <td>
                    {% for image in images %}
                    {% if image.mimeType == 'application/pdf' %}
                    <iframe src="{{ vich_uploader_asset(image) }}" frameborder="0" width="800" height="500"></iframe>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_worksites_index') }}" class="btn btn-primary mb-3"><i class="fa-solid fa-reply"></i> Retour</a>

    <a href="{{ path('app_worksites_edit', {'id': worksite.id}) }}" class="btn btn-primary mb-3">Modifier</a>
    <div title="Add to Calendar" class="addeventatc btn btn-light mb-3" data-styling="none">
        <i class="fa fa-calendar-plus"></i>
        <span class="start">{{ worksite.startAt ? worksite.startAt|date('d M Y') : '' }}</span>
        <span class="timezone">Europe/Paris</span>
        <span class="title">{{ worksite.nameWorksite }}</span>
        <span class="description">Durée des travaux : {{ worksite.durationWorksite }} jour(s), <br> Travaux supplémentaires : {{ worksite.supplementWorksite }} heure(s), <br> Distance : {{ worksite.travelDistanceWorksite }} km</span>
        <span class="location">{{ worksite.adressWorksite}}, {{ worksite.cpWorksite }} {{ worksite.cityWorksite }}</span>
    </div>

    {{ include('worksites/_delete_form.html.twig') }}
{% endblock %}
