{% extends 'base.html.twig' %}

{% block title %}Locations | Liste{% endblock %}

{% block body %}
<div class="d-flex justify-content-center">
    <h1 class="col-12 col-sm-9 text-center fs-2">Liste des locations</h1>
</div>

<a href="{{ path('app_rentals_new') }}" class="btn btn-primary float-sm-end mt-2 col-6 col-sm-4 col-md-3 col-lg-2"><i class="fa fa-plus"></i> Ajouter</a>

<table class="table table-hover" id="table" data-toggle="table" data-search="true" data-locale="fr-FR" data-pagination="true">
    <thead>
        <tr>
            <th data-sortable="true" data-field="material">Matériel</th>
            <th data-sortable="true" data-field="quantity">Quantité</th>
            <th data-sortable="true" data-field="price" class="d-none d-md-table-cell">Prix Unitaire(€)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for rental in rentals %}
        <tr>
            <td>{{ rental.getMaterialsRental.nameMaterial }}</td>
            <td>{{ rental.quantityRental }}</td>
            <td>{{ rental.unitPrice }}</td>
            <td>
                <a href="{{ path('app_rentals_show', {'id': rental.id}) }}" class="btn btn-primary btn-sm"><i class="fa fa-eye fa-fw"></i></a>
                <a href="{{ path('app_rentals_edit', {'id': rental.id}) }}" class="btn btn-success btn-sm"><i class="fa-solid fa-pen-to-square fa-fw"></i></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="6">Aucune location enregistré</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
