{% extends 'base.html.twig' %}

{% block title %}Location{% endblock %}

{% block body %}
    <h1>Location</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Matériel</th>
                <th>Qauantité</th>
                <th>Prix Unitaire</th>
                <th>Actions</th>
                <th><a href="{{ path('app_rentals_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Ajouter</a></th>
            </tr>
        </thead>
        <tbody>
        {% for rental in rentals %}
            <tr style="background-color: white;">
                <td>{{ rental.getMaterialsRental().nameMaterial }}</td>
                <td>{{ rental.quantityRental }}</td>
                <td>{{ rental.unitPrice }}</td>

                <td>
                    <a href="{{ path('app_rentals_show', {'id': rental.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('app_rentals_edit', {'id': rental.id}) }}" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
                <td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
