{% extends 'base.html.twig' %}

{% block title %}Designation index{% endblock %}

{% block body %}
    <h1>Designation index</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Unité</th>
                <th>Quantité</th>
                <th>Prix unitaire HT</th>
                <th>Prix HT</th>
                <th>TVa</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for designation in designations %}
            <tr>
                <td>{{ designation.name }}</td>
                <td>{{ designation.unity }}</td>
                <td>{{ designation.quantity }}</td>
                <td>{{ designation.priceUnitaryHt }}</td>
                <td>{{ designation.priceHt }}</td>
                <td>{{ designation.tva }}</td>
                <td>
                    <a href="{{ path('app_designation_show', {'id': designation.id}) }}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('app_designation_edit', {'id': designation.id}) }}" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_designation_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Créer </a>
{% endblock %}
