{% extends 'base.html.twig' %}

{% block title %}Commandes Matériaux{% endblock %}

{% block body %}
    <h1>Commandes matériaux</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Quantité</th>
                <td>{{ raw_materials_ordered.quantity }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ raw_materials_ordered.createdAt ? raw_materials_ordered.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Prix total du matériaux</th>
                <td>{{ raw_materials_ordered.totalPriceRawMaterial }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_raw_materials_ordered_index') }}" class="btn btn-primary mb-3"><i class="fa-solid fa-reply"></i> Retour</a>

    <a href="{{ path('app_raw_materials_ordered_edit', {'id': raw_materials_ordered.id}) }}" class="btn btn-primary mb-3">Modifier</a>

    {{ include('raw_materials_ordered/_delete_form.html.twig') }}
{% endblock %}
