{% extends 'base.html.twig' %}

{% block title %}Les Images {% endblock %}

{% block body %}
    <h1>Les images dépannages</h1>
    <a href="{{ path('app_repairs_images_new') }}" class="btn btn-primary float-sm-end mt-2 col-6 col-sm-4 col-md-3 col-lg-2"><i class="fa fa-plus"></i> Ajouter</a>
    <table class="table table-hover" id="table" data-toggle="table" data-search="true" data-locale="fr-FR" data-pagination="true">
        <thead>
            <tr>
                <th>Image</th>
                <th data-sortable="true" data-field="repair_name">Nom du dépannage</th>
                <th data-sortable="true" data-field="image_name_repair" class="d-none d-md-table-cell">Nom d'image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for repairs_image in repairs_images %}
            <tr>
                <td><img style="max-width: 200px; min-width: 50px; width: 100%;" src="{{ vich_uploader_asset(repairs_image) }}"></td>
                <td>{{ repairs_image.repair }}</td>
                <td>{{ repairs_image.imageRepairsImages }}</td>
                <td>
                    <a href="{{ path('app_repairs_images_show', {'id': repairs_image.id}) }}" class="btn-sm mb-2 btn btn-primary"><i class="fa-fw fa fa-eye"></i></a> 
                    <a href="{{ path('app_repairs_images_edit', {'id': repairs_image.id}) }}" class="btn-sm mb-2 btn btn-success"><i class="fa-fw fa-solid fa-pen-to-square"></i></a> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune image enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
