{% extends 'base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <h1>Image</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom de l'image</th>
                <td>{{ repairs_image.imageRepairsImages }}</td>
            </tr>
            <tr>
                <th>Modifié le</th>
                <td>{{ repairs_image.updatedAt ? repairs_image.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Taille de l'image</th>
                <td>{{ repairs_image.imageSize }} ko</td>
            </tr>
            <tr>
                <th>l'image</th>
                <td><img src="{{ vich_uploader_asset(repairs_image) }}" alt="" width="200"></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_repairs_images_index') }}">retour à la liste</a>

    <a href="{{ path('app_repairs_images_edit', {'id': repairs_image.id}) }}">Modifier</a>

    {{ include('repairs_images/_delete_form.html.twig') }}
{% endblock %}
