{% extends 'base.html.twig' %}

{% block title %}Contacts{% endblock %}

{% block body %}
    <h1>Contacts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Intitulé</th>
                <td>{{ contact.title }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contact.lastname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ contact.firstname }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ contact.city }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>0{{ contact.tel }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ contact.mail }}</td>
            </tr>
            <tr>
                <th>Catégorie</th>
                <td>{{ contact.contactsCategories }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_contacts_index') }}" class="btn btn-primary mb-2"><i class="fa-solid fa-reply"></i> Retour</a>

    <a href="{{ path('app_contacts_edit', {'id': contact.id}) }}" class="btn btn-primary mb-2">Modifier</a>

    {{ include('contacts/_delete_form.html.twig') }}
{% endblock %}
